{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="{{ asset('img/'~chambre.image) }}">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                {{ chambre.nom }}
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                <h2>{{ chambre.description }}</h2>
                            <div class="lib-header-seperator"></div>
                            </div>
                            <div class="personnes" >
                                {% if  chambre.nb_pers ==1 %}                  
                                    <h3>{{ chambre.nb_pers }} personne</h3>
                                {% else %}
                                    <h3>{{ chambre.nb_pers }} personnes</h3>
                                {% endif %}
                            <div class="lib-header-seperator"></div>
                            <div>
                                
                                
                                    
                                    
                                
                            <div class="lib-header-seperator"></div>
                            <div>
                                
                            <div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
